# t2g.conf file

# file name to generate with temeratures graph 
PNG_FILE="temperature.png"

# temperature data source file
# csv like file with format (date_format1;date_format2;date_format3;temperature_celsius):
# 2019-07-10 13:40.04;20190710134004;2019.07.10T13.40.04;6.36
T_SOURCE="/var/log/temperatures.log"

